<div class="photo-card">
  <a href="{{largeImageURL}}">
    <img
      class="photo-card__image"
      src="{{webformatURL}}"
      alt="{{tags}}"
      loading="lazy"
    />
  </a>
  <div class="info info--photo">
    <p class="info-item">
      <b>Likes</b>
      <a class="info-item__text" href="#likes">{{likes}}</a>
    </p>
    <p class="info-item">
      <b>Views</b>
      <a class="info-item__text" href="#views">{{views}}</a>
    </p>
    <p class="info-item">
      <b>Comments</b>
      <a class="info-item__text" href="comments">{{comments}}</a>
    </p>
    <p class="info-item">
      <b>Downloads</b>
      <a class="info-item__text" href="downloads">{{downloads}}</a>
    </p>
  </div>
</div>